<nav class="profile-category-group">
  <div class="profile-category-picture">
    <img src="" alt="写真" style="display:inline-block; width: 150px; height: 150px;">
    <p class="profile-name"><%=current_user.nickname%>さん</p>
  </div>
  <div class="profile-category-lists">
    <h2>メニュー</h2>
    <ul class="category-menus">
      <li>プロフィール</li>
      <li>お気に入り</li>
      <li>履歴</li>
    </ul>
  </div>
</nav>