<nav class="profile-category-group">
  <div class="profile-category-picture">
    <img src="../images/ラーメン画像１.jpg" alt="写真" style="display:inline-block; width: 150px; height: 150px;">
    <p class="profile-name"><%=@user.nickname%>さん</p>
  </div>
  <div class="profile-category-lists">
    <h2>メニュー</h2>
    <ul class="category-menus">
      <li><%= link_to 'プロフィール情報', "/person/#{params[:id]}", class: "category-menu" %></li>
      <% if @user.id == current_user.id %>
        <li><%= link_to 'お気に入り', "/person/#{params[:id]}/favorites", class: "category-menu" %></li>
      <% end %>
      <li>投稿履歴</li>
    </ul>
  </div>
</nav>