<section class="profile-main-group">
  <div class="profile-group">
    <h1>プロフィール情報</h1>
    <% if @user.id == current_user.id %>
      <%= link_to '編集', "/person/#{@user.id}/edit", class: "profile-btn" %>
    <% end %>
    <div class="profile-lists">
      <%= render 'person/person_profile_lists' %>
    </div>
  </div>
  </section>