<section class="profile-main-group">
  <div class="profile-group">
    <h1>プロフィール情報</h1>
    <a href="#" class="profile-btn">編集</a>
    <div class="profile-lists">
      <div class="profile-list">
        <div class="profile-list-tag">
          <p>ニックネーム<span class="caution profile-caution">必須</span></p>
        </div>
        <div class="profile-list-content">
          <p></p>
        </div> 
      </div>
      <div class="profile-list">
        <div class="profile-list-tag">
          <p>性別<span class="caution profile-any">任意</span></p>
        </div>
        <div class="profile-list-content">
          <p>男性</p>
        </div> 
      </div>
      <div class="profile-list">
        <div class="profile-list-tag">
          <p>現住所<span class="caution profile-any">任意</span></p>
        </div>
        <div class="profile-list-content">
          <p></p>
        </div> 
      </div>
      <div class="profile-list">
        <div class="profile-list-tag">
          <p>メールアドレス<span class="caution profile-caution">必須</span></p>
        </div>
        <div class="profile-list-content">
          <p></p>
        </div> 
      </div>
      <div class="profile-list">
        <div class="profile-list-tag">
          <p>お気に入り店舗①<span class="caution profile-caution">必須</span></p>
        </div>
        <div class="profile-list-content">
          <p></p>
        </div> 
      </div>
      <div class="profile-list">
        <div class="profile-list-tag">
          <p>お気に入り店舗②<span class="caution profile-any">任意</span></p>
        </div>
        <div class="profile-list-content">
          <p></p>
        </div> 
      </div>
      <div class="profile-list">
        <div class="profile-list-tag">
          <p>お気に入り店舗③<span class="caution profile-any">任意</span></p>
        </div>
        <div class="profile-list-content">
          <p></p>
        </div> 
      </div>
      <div class="profile-list">
        <div class="profile-list-tag">
          <p>好きなジャンル<span class="caution profile-caution">必須</span></p>
        </div>
        <div class="profile-list-content">
          <p></p>
        </div> 
      </div>
      <div class="profile-list">
        <div class="profile-list-tag">
          <p>好きなトッピング<span class="caution profile-caution">必須</span></p>
        </div>
        <div class="profile-list-content">
          <p></p>
        </div> 
      </div>
      <div class="profile-list introduction">
        <div class="profile-list-tag">
          <p>自己紹介文（400文字以内）<span class="caution profile-caution">任意</span></p>
        </div>
        <div class="profile-list-content">
          <p></p>
        </div> 
      </div>
    </div>
  </div>
  </section>