<section class="profile-main-group">
  <div class="profile-group">
    <h1>プロフィール情報</h1>
    <%= link_to '編集', "/person/#{current_user.id}/edit", class: "profile-btn" %>
    <div class="profile-lists">
      <%= render 'person/person_profile_lists' %>
    </div>
  </div>
  </section>