<%= render partial: 'shared/header_three', local: { user: @user } %>

<main>
  <section class="profile-container">
    <%= render 'person/person_side_section' %>
    <%= render 'person/person_main_section'%>
  </section>
</main>