<header class="header-wrapper">
  <div class="header-left">
    <span>ラーメンセレクション</span>
  </div>
  <div class="header-right">
    <% if user_signed_in? %>
      <nav class="session-group">
        <p>ユーザー名</p>
        <a href="#"><i class="fa fa-sign-out main-icon-size"></i>ログアウト</a>
        <a href="#"><i class="fa fa-child main-icon-size"></i>マイページ</a>
      </nav>
    <% end %>
  </div>
</header>