<header class="header-wrapper">
  <%= link_to root_path, class: "header-left" do %>
    <i class="fa fa-home main-icon-size"></i>ラーメンセレクション
  <% end %>
  <div class="header-right">
    <nav class="session-group">
      <p><%= @user.nickname %>さんのマイページ</p>
    </nav>
  </div>

  <%= render 'shared/responsive_header_four' %>
</header>