<header class="header-wrapper">
  <%= link_to root_path, class: "header-left" do %>
    <i class="fa fa-home main-icon-size"></i>ラーメンセレクション
  <% end %>
  <div class="header-right">
    <nav class="session-group">
      <p>ユーザー名</p>
      <a href="#"><i class="fa fa-sign-out main-icon-size"></i>ログアウト</a>
      <a href="#"><i class="fa fa-child main-icon-size"></i>マイページ</a>
    </nav>
  </div>
  </header>