<p class="res res-header-left">ラーメンセレクション</p>
<div class="res res-header-right">
  <i class="res fas fa-align-justify"></i>
</div>

<div class="res modal-wrapper">
  <nav class="res modal-menus">
    <a href="#" class="res modal-menu">マイページ</a>
    <a href="#" class="res modal-menu">新規投稿</a>
    <a href="#" class="res modal-menu">ログアウト</a>
  </nav>
</div>