<%= render 'shared/header' %>

<section class="picture-section">
  <img src="/images/ラーメン画像２.jpg">
</section>

<section class="container post-table">
  <div class="post-group">
    <h1>投稿一覧</h1>
    <%= link_to '新規投稿', new_post_path, class: "post-btn" %>
  </div>
  <article>
    <h2>最新投稿順</h2>
    <div class="table-container">
      <div class="l-post">
        <h3 class="post-name"><a href="#">投稿者</a></h3>
        <a href="#">
          <div class="post-picture"><span>写真</span></div>
          <ul class="post-items">
            <li>メニュー：<span>ラーメン中盛</span></li>
            <li>店名：<span>環２家<span></li>
            <li>値段：<span> ¥ 10000</span></li>
            <li>ジャンル：<span>家系</span></li>
            <li>ひとコト：<span>世界一うまい！！</span></li>
          </ul>
        </a>
      </div>
    </div>
  </article>
</section>