<%= render 'shared/header' %>

<section class="picture-section" style="background-color: antiquewhite; width: 100%; height: 400px;">
  <p style="text-align: center; padding-top: 180px; font-size: 2.5rem;">背景画像挿入予定</p>
</section>

<section class="container post-table">
  <h1>投稿一覧</h1>
  <article>
    <h2>最新投稿順</h2>
    <div class="table-container">
      <div class="l-post">
        <h3 class="post-name"><a href="#">投稿者</a></h3>
        <a href="#">
          <div class="post-picture"><span>写真</span></div>
          <ul class="post-items">
            <li>メニュー：<span>ラーメン中盛</span></li>
            <li>店名：<span>環２家<span></li>
            <li>値段：<span> ¥ 10000</span></li>
            <li>ジャンル：<span>家系</span></li>
            <li>ひとコト：<span>世界一うまい！！</span></li>
          </ul>
        </a>
      </div>
    </div>
  </article>
</section>