
<%= render 'shared/header' %>

<section class="container post-new">
  <div class="post-group">
    <h1>新規投稿ページ</h1>
    <%= link_to '戻る', root_path, class: "post-btn post-back-btn" %>
    <article class="container-form">
      <%= render 'posts/new_form'%>
    </article>    
  </div>
</section>