<div class="wrapper top-wrapper">
  <div class="top-container">
    <h1>ラーメンセレクション</h1>
    <p>お気に入りの一杯をシェアしよう</p>
    <div class="login-session">
      <%= link_to new_user_session_path, class: "btn login" do %>
       <i class="fas fa-sign-in-alt"></i>ログイン
      <% end %>
      <%= link_to new_user_registration_path, class: "btn new-login" do %>
        <i class="far fa-hand-spock"></i>初めての方
      <% end %>
    </div>
  </div>
</div>