/* デフォルト設定 */

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: black;
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "MSPゴシック", "MS PGothic", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

ul, li {
  list-style: none;
}

/* デフォルト設定 */

/* ******top-wrapper****** */

.top-wrapper {
  background-image: url(/images/博多とんこつラーメン１.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.top-container {
  padding-top: 200px;
  text-align: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.top-container h1 {
  font-size: 8rem;
  color: #fff;
  margin-bottom: 30px;
}

.top-container p {
  color: #fff;
  font-size: 2rem;
}

.top-container p::before,
.top-container p::after {
  content: '';
  border: 1px solid #fff;
  margin: 10px;
}

.login-session {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-session .btn {
  width: 200px;
  padding: 20px 0px;
  margin: 0px 25px;
  background-color: rgb(10, 134, 236);
  font-size: 2.0rem;
}

.login-session .btn:hover {
  opacity: 0.8;
}

.header-left span {
  color: #fff;
}

/* ******top-wrapper****** */


/* ******header-main-wrapper****** */

.header-wrapper {
  display: flex;
  height: 90px;
}

.header-left {
  width: 25%;
  text-align: center;
  font-size: 1.8rem;
  padding: 34px 0;
  background-color: #282828;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  width: 75%;
  background-color: rgba(248, 248, 255, 0.3);
  opacity: 0.8;
}

.session-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  margin-right: 3%;
  height: 100%;
}

.session-group a, .session-group p {
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  padding: 0 5px;
  margin: 0px 15px;
  color: black;
}

.session-group a:hover {
  opacity: 0.4;
}

.fa-sign-out-alt, .fa-male, .fa-home, .fa-sign-in-alt, .fa-hand-spock {
  font-size: 2.3rem;
  margin-right: 10px;
}

.session-group .fa-sign-out-alt, .session-group .fa-male {
  font-size: 1.6rem;
}


/* ******header-main-wrapper****** */

/* ******post-index****** */
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 40px;
  padding-bottom: 25px;
}

.post-conditions {
  display: flex;
  /* background-color: #fbc8c873; */
  height: 110px;
  margin: 0 0 40px;
  cursor: pointer;
}

.post-condition {
  width: 110px;
  height: 100%;
  padding-top: 25px;
  margin-right: 20px;
  text-align: center;
}

.post-background {
  background-color: #fcdfe05e;
}

.fa-calendar-alt, .fa-yen-sign{
  font-size: 3.0rem;
}

.post-condition p {
  font-size: 1.6rem;
  margin-top: 15px;
}

.container-title {
  position: relative;
}

.container h1 {
  position: relative;
  font-size: 3.0rem;
  font-weight: bold;
  margin-bottom: 65px;
}

.container h1::before {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -18px;
  left: 0px;
  border-bottom: 3px solid black;
}

.container article {
  width: 95%;
  margin: 0 auto;
}

.container article h2 {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.container article h2::before {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -15px;
  left: 0px;
  border-bottom: 3px solid black;
}

#price-order-lists {
  display: none;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 5px;
}

.l-post {
  width: calc((100% - 30px) / 3);
  margin: 0 5px 30px;
  height: 650px;
  background-color: #fcdfe05e;
  border: 1px #f3bfc861 solid;
}

.l-post a {
  display: block;
}

.post-name {
  height: 50px;
  text-align: center;
  padding-top: 17px;
  background-color: #fbc8c873;
}

.post-name a {
  display: inline-block;
  font-size: 1.8rem;
  color: black;
}

.post-picture {
  height: 250px;
}

.post-picture img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.post-picture span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 4.5rem;
  margin-top: 20%;
}

.post-items {
  padding-top: 20px;
}

.post-items li {
  display: flex;
  padding: 15px 10px;
  color: black;
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: thin black dotted;
}

.post-items li:last-child {
  border-bottom: none;
}

.post-items li #word {
  line-height: 17px;
}

.post-category {
  width: 28%;
  margin-right: 5px;
}

.post-category-value {
  width: 72%;
  text-align: left;
}

/* ******post-index****** */

/* *******************post-new registration-new************************* */

.container-form {
  padding: 15px 45px 50px;
  /* background-color: rgba(55, 127, 80, 0.2); */
  border: 1px solid black;
}

.form-box {
  padding-bottom: 40px;
  margin-top: 40px;
  border-bottom: 1px dotted black;
}

.form-box-last {
  border-bottom: none;
}


.form-box h5 {
  font-size: 2.0rem;
  margin-bottom: 20px;
}

.caution {
  margin-left: 10px;
  padding: 0 5px;
  font-size: 1.6rem;
  color: #fff;
}

.mandatory {
  background-color: red;
}

.any {
  background-color: gray;
}

.note {
  font-size: 1.5rem;
  margin-left: 50px;
}

.form-box input[type="text"], .form-box input[type="email"], .form-box input[type="password"], .form-box select {
  width: 85%;
  height: 35px;
  margin-left: 10%;
  padding: 0 20px;
  font-family: sans-serif;
  font-size: 1.8rem;
  border-radius: 0px;
  background-color: rgb(247,247,247);
}

/* .form-box input:required {
  background: #ffb3b3
}

.form-box input[type="password"]:invalid {
  background-color: #ffb3b3;
}

.form-box input:valid {
  background: transparent;
} */

input[type="file"] {
  margin-left: 4%;
  font-size: 1.6rem;
}

.form-submit, .form-btn {
  text-align: center;
  margin-top: 70px;
}



.form-submit input[type="submit"] {
  background-color: rgba(250, 88, 18, 0.8);
  padding: 15px 50px;
  font-size: 1.8rem;
  border: none;
  color: #fff;
  font-weight: 200;
  border-radius: 15px;
}

.form-btn {
  /* margin-top: 30px; */
  
}

.form-btn-back {
  position: absolute;
  top: -10px;
  right: 15px;
  color: #fff;
  font-size: 1.8rem;
  border: none;
  padding: 15px 30px;
  background-color: rgba(250, 88, 18, 0.8);
  border-radius: 10px;
  cursor: default;
}

.form-submit input[type="submit"]:hover, .form-btn-back:hover {
  opacity: 0.6;
}

.form-submit input[type="submit"]:focus {
  outline: 0;
}

/* ******post-new******** */

/* ******post-show******** */

.post-show {
  text-align: center;
}

.container .post-show h2:before {
  display: none;
}

.button a {
  background-color: rgba(206,206,206, 1.0);
  font-weight: 200;
  display: inline-block;
  padding: 15px 35px;
  margin: 0 20px;
  font-size: 2.5rem;
  border-radius: 10px;
}

.button a:hover {
  opacity: 0.6;
}

.post-table .post-show h2 {
  margin-bottom: 15px;
}

.table-show-container {
  justify-content: center;
}

.l-post-show {
  width: 50%;
  height: 730px;
}

.post-show-name {
  height: 85px;
  padding-top: 30px;
}

.post-show-picture {
  height: 365px;
}

.post-show-items {
  padding: 45px 0;
}

.post-show-items li {
  font-size: 2.6rem;
  padding: 10px; 
}

.post-show-picture img { 
  height: 100%;
}

/* ******user-show******** */

.user-container {
  display: flex;
  padding: 25px 5px;
  margin-bottom: 50px;
  border: 1px solid #00000024;
}

.user-picture {
  width: 30%;
  background-color: greenyellow;
  text-align: center;
}

.user-picture span {
  display: inline-block;
  margin-top: 90px;
  font-size: 3.0rem;
}

.user-items {
  width: 70%;
  padding: 10px;
  padding-left: 30px;
  /* background-color: rgb(157, 221, 173); */
}

.user-items li {
  font-size: 2.0rem;
  margin: 15px 0;
}

.user-items span {
  margin-left: 10px;
}

/* ******* error_message ******* */

#error_explanation h2 {
  display: none;
}

#error_explanation ul {
  margin-top: 30px;
  margin-bottom: -15px;
  font-size: 1.6rem;
  color: red;
}

/* ******* error_message ******* */

/* ******* post-new ******* */

.post-group {
  position: relative;
}

.post-btn {
  position: absolute;
  top: -8px;
  right: 0px;
  color: #fff;
  font-size: 1.6rem;
  border: none;
  padding: 15px 15px;
  background-color: rgba(250, 88, 18, 0.8);
  border-radius: 10px;
  cursor: default;
}

.post-btn:hover {
  opacity: 0.8;
}

.post-btn-edit {
  right:  80px;
}


/* ******* post-new ******* */

/* ******* top-image ******* */

.picture-section img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  opacity: 0.7;
}

/* ******* top-image ******* */

/* ********************** MyProfile *************************** */

.profile-container {
  width: 1160px;
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
}

.profile-category-group {
  width: 20%;
  margin-top: 10px;
}

.profile-category-picture {
  height: 200px;
  padding-top: 10px;
  margin: 0 10px 10px;
  text-align: center;
  border: 1px solid black;
}

.profile-name {
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}

.profile-category-lists {
  background-color: #fff;
  height: 600px;
  padding: 14px;
  margin: 10px;
  border: 1px solid black;
}

.profile-category-lists h2{
  background-color: #fff;
  font-size: 2.0rem;
}

.category-menus {
  background-color: #fff;
  margin-top: 10px
}

.category-menus li {
  margin-top: 20px;
  font-size: 1.6rem;
  list-style-type: square;
  list-style-position: inside;
}

.profile-main-group {
  width: 80%;
  padding: 30px 40px 0;
  margin-top: 10px;
  border: 1px solid black;
}

.profile-group {
  position: relative;
}

.profile-group h1 {
  font-size: 2.0rem;
  margin-top: 40px;
}

.profile-group h1::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 35px;
  left: 0px;
  border-bottom: 2px solid black;
}

.profile-lists {
  margin: 70px 0;
}

.profile-list {
  display: flex;
  height: 60px;
  margin: 0 5px;
  border-top: 1px solid black;
}

.profile-list:last-child {
  border-bottom: 1px solid black;
}

.profile-list-tag {
  background-color: wheat;
  padding: 15px 10px;
  width: 38%;
  height: 100%;
}

.profile-list-tag p {
  font-size: 1.6rem;
}

.profile-caution {
  font-size: 1.4rem;
  background-color: red;
  margin-left: 20px;
}

.profile-any {
  font-size: 1.4rem;
  background-color: gray;
  margin-left: 20px;
}

.profile-list-content {
  background-color: whitesmoke;
  width: 62%;
  height: 100%;
  padding: 15px 10px;
}

.profile-list-content p {
  font-size: 1.6rem;
}

.introduction {
  height: 200px;
}

.introduction p {
  line-height: 25px;
}

.profile-btn {
  position: absolute;
  top: -18px;
  right: 15px;
  color: #fff;
  font-size: 1.6rem;
  border: none;
  padding: 15px 30px;
  background-color: rgba(250, 88, 18, 0.8);
  border-radius: 10px;
  cursor: default;
}

.profile-btn:hover {
  opacity: 0.7;
}

.profile-edit-group {
  width: 100%;
  padding: 30px 40px 0;
  margin-top: 10px;
  border: 1px solid black;
}

.profile-list-content input[type="text"], .profile-list-content input[type="email"],
.profile-list-content select, .profile-list-content input[type="password"] {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  font-size: 1.6rem;
  margin-left: 0;
}

.profile-list-content textarea {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  font-size: 1.6rem;
}

.profile-submit {
  margin-top: 50px;
  text-align: center;
}

.profile-submit input[type="submit"] {
  padding: 15px 40px;
  font-size: 1.6rem;
  border: none;
  background-color: rgba(250, 88, 18, 0.8);
  border-radius: 10px;
  cursor: default;
  color: #fff;
}

/* ********************** MyProfile *************************** */

/* ******************** error_messages ********************* */

.error-container {
  width: 65%;
  margin: 5px auto 30px;
  text-align: center;
  border: 2px #ff0000cc solid;
}

.error-container .error-title {
  padding: 5px 0 10px;
  font-size: 2.0rem;
  color: #fff;
  background-color: #ff0000cc;
}

.error-alert {
  padding: 6px 0;
}

.error-message {
  text-align: left;
  width: 65%;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: red;
  list-style-type: square;
}




/* ************************メディアクエリ（スマホ対応）*************************** */

.res {
  display: none;
}

@media (max-width: 599px) {

  .res {
    display: block;
  }

  .container {
    width: 100%;
  }

  /* +++++++++++++++++++++++++++++ header +++++++++++++++++++++++++ */

  .header-wrapper {
    position: relative;
    background-color: #282828;
    height: 60px
  }

  .header-left {
    display: none;
  }

  .res-header-left {
    width: 75%;
    text-align: left;
    padding: 25px 0 0 20px;
    font-size: 1.4rem;
    color: #fff;
  }

  .res-header-right {
    width: 25%;
    background-color: #fff;
  }

  .fa-home {
    display: none;
  }

  .header-right {
    display: none;
  }

  .fa-align-justify {
    position: absolute;
    right: 10%;
    top: 23px;
    font-size: 1.8rem;
    color: black;
  }

  .modal-wrapper {
    /* display: none; */
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    z-index: 100;
  }

  .modal-menus {
    background-color: #282828;
  }

  .modal-menu {
    display: block;
    padding: 20px 0;
    margin: 0 5px;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-size: 1.2rem;
  }

  /* +++++++++++++++++++++++++++++ header +++++++++++++++++++++++++++++++ */

  /* +++++++++++++++++++++++++++++ main +++++++++++++++++++++++++++++++ */
  .picture-section img {
    height: 200px;
  }

  .fa-calendar-alt, .fa-yen-sign {
    font-size: 1.6rem;
  }

  .post-conditions {
    height: 100px;
    margin-bottom: 20px;
  }

  .post-condition p {
    font-size: 1.4rem;
  }

  .post-condition {
    margin: 0 25px;
  }

  .post-btn { 
    display: none;
  }

  .container h1 {
    font-size: 2.0rem;
    margin-bottom: 40px;
  }

  .container h1::before {
    bottom: -10px;
    left: 0px;
    border-bottom: 1px solid black;
  }

  .container article h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .container article h2::before {
    bottom: -10px;
    left: 0px;
    border-bottom: 1px solid black;
  }

  .l-post {
    width: 100%;
    height: auto;
  }

  .post-name {
    height: 30px;
    padding: 8px 0;
  }

  .post-name a {
    font-size: 1.4rem;
  }

  .post-picture {
    height: 200px;
  }

  .post-picture img {
    height: 100%;
  }

  .post-items {
    padding-top: 10px;
  }

  .post-category {
    font-size: 1.3rem;
  }

  .post-category-value {
    font-size: 1.3rem;
  }

  /* +++++++++++++++++++++++++++++ main +++++++++++++++++++++++++++++++ */
  
}



/* ************************メディアクエリ（スマホ対応）*************************** */