<% if model.errors.any? %>
<div class="error-container">
  <h3 class="error-title">◯◯件のエラーが発生しています</h3>
  <div class="error-alert">
  <ul>
    <% model.errors.full_messages.each do |message| %>
    <li class='error-message'><%= message %></li>
    <% end %>
  </ul>
  </div>
</div>
<% end %>