
<%= render 'shared/header_two' %>

<section class="container post-new">
  <div class="container-title">
    <h1>新規登録ページ</h1>
    <%=link_to '戻る', top_posts_path, class: "form-btn-back" %>
  </div>
  <article class="container-form">
    <%= render 'users/registrations/new_form'%>
  </article>
</section>

<%= render "users/shared/links" %>
